In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('wave1_imm_dummies_2classes.csv', header=0, na_values=' ', index_col=0)
data.head()

,H1GI20,H1DA8,H1DA9,H1DA10,H1GH1,H1GH28,H1GH42,H1GH44,H1GH46,H1GH59A,...,BST90P13_3,BST90P24_1,BST90P24_2,BST90P24_3,BST90P24_4,BST90P24_5,BST90P24_6,BST90P26_1,BST90P26_2,BST90P26_3
AID,,,,,,,,,,,,,,,,,,,,,
57101310,11,33,4.0,0,4,5,4,5,5,6,...,0,0,0,0,0,0,1,0,0,1
57109625,8,14,7.0,3,1,2,2,4,4,5,...,0,0,1,0,0,0,0,0,0,1
57111071,8,35,12.0,2,2,4,3,3,3,5,...,0,0,1,0,0,0,0,0,0,1
57113943,9,10,5.0,4,3,4,3,4,5,6,...,1,0,1,0,0,0,0,1,0,0
57117542,9,0,0.0,0,2,3,4,4,4,6,...,0,0,0,0,0,0,0,0,0,0

In [3]:
data.shape

(4539, 499)

In [4]:
data.C_CRP.value_counts()

1.0    2669
3.0    1870
Name: C_CRP, dtype: int64

In [5]:
target = data.C_CRP
target.head()

AID
57101310    3.0
57109625    1.0
57111071    1.0
57113943    3.0
57117542    3.0
Name: C_CRP, dtype: float64

In [6]:
del data['C_CRP']

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, 
                                                    test_size=0.2, 
                                                    random_state=7, 
                                                    stratify=target)

In [15]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import cross_val_predict

In [16]:
rfclf = RandomForestClassifier(criterion='entropy', max_depth=5, 
                               n_estimators=10)

In [17]:
predicted = cross_val_predict(rfclf, X_train, y_train, cv=5)

In [18]:
print(classification_report(y_train, predicted))

             precision    recall  f1-score   support

        1.0       0.62      0.92      0.74      2135
        3.0       0.62      0.20      0.30      1496

avg / total       0.62      0.62      0.56      3631